table{
    border :"5px";
    width: 300px; 
    height: 250px;
    text-align: center;
    background-color: black;
}
td {
    background-color: grey;
}
button {
    background-color: beige;
    font-size: 20px;
    size: 5px;
}